p{
    color: #66C557;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    line-height: auto;
}

.button-syle {
    border-radius: 10px;
    padding-right: 15px;
    --slds-c-button-brand-text-color: #FFFFFF;
    --slds-c-button-brand-color-background: #66C557;
}