.title-style{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    white-space: nowrap;
}

.descricao-label-style{
    margin-left: -30px;
    width: 40%;
}

.tipo-picklist-style{
    display: flex; 
    flex-direction: row; 
    margin-left: 39px; 
    margin-right: -50px;
}

.projeto-title-style{
    display: flex; 
    flex-direction: row; 
    align-items: flex-end; 
    margin-top: 7px;
}