.card-border-style {
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 25px 25px;
}

.combobox-style{
    border-radius: 20px;
    width: 150px;
    height: 110px;
    --sds-c-input-radius-border: 20px;
}

.currency-style{
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
}

.receitas-color{
    color:#66C557;
}

.despesas-color{
    color: #E21F1F;
}

.text-min-style{
    font-size: 15px;
}

.text-max-style{
    font-size: 25px;
}

.text-style{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.center-text-style{
    text-align: center;
}

.help-cursor-style{
    cursor: help;
}

.lil-pad-style{
    padding: 15px;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.start{
    justify-content: flex-start;
    align-items: center;
}

.evenly{
    justify-content: space-evenly;
}

.reverse-column-style{
    flex-direction: column-reverse;
}

.center-flex{
    justify-content: center;
}

.column-style{
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}
.myDIV:hover + .hide {
    display: block;
}