.card-border-style {
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 25px 25px;
}

.combobox-style {
    border-radius: 20px;
    color:#66C557;
    width: 150px;
    --sds-c-input-radius-border: 20px;
    /*--sds-c-card-color-background: #FFFFFF;*/
}

.currency-style{
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}